<!doctype html>
<html lang="en">
  <head>
      {% block head %}
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      {% block styles %}
          <!-- Bootstrap CSS -->
          {{ bootstrap.load_css() }}
      {% endblock %}

      <title>
        {% block title %}
        {{ config.BRAND }}
        {% endblock %}
      </title>
      {% endblock %}
  </head>
  <body>
    <div class="container">
    {% block navbar %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">{{ config.BRAND }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dash Example Links
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                        <a class="dropdown-item" href="{{ url_for('dashapps.dash_app_1') }}">Dash Example 1</a>
                        <a class="dropdown-item" href="{{ url_for('dashapps.dash_app_2') }}">Dash Example 2</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dash Database Examples
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                        <a class="dropdown-item" href="{{ url_for('dashapps.user_image_view') }}">User Image Viewer</a>
                        <a class="dropdown-item" href="{{ url_for('dashapps.user_image_upload') }}">user Image Upload</a>
                    </div>
                </li>



            </ul>
        </div>
    </nav>

    {% endblock %}
    {% block messages %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, msg in messages %}
                    {% if category == 'message' or category == 'info' %}
                        <div class="alert alert-info">
                            <strong>Info!</strong> {{ msg }}
                        </div>
                    {% endif %}
                    {% if category == 'danger' %}
                        <div class="alert alert-danger">
                            <strong>Danger!</strong> {{ msg }}
                        </div>
                    {% endif %}
                    {% if category == 'warning' %}
                        <div class="alert alert-warning">
                            <strong>Warning!</strong>  {{ msg }}
                        </div>
                    {% endif %}
                    {% if category == 'success' %}
                        <div class="alert alert-success">
                            <strong>Success!</strong> {{ msg }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endblock %}

    <!-- Your page content -->
    {% block content %}
    {% endblock %}
    </div>
  </body>
    {% block scripts %}
        <!-- Optional JavaScript -->
        {{ bootstrap.load_js() }}
    {% endblock %}
</html>